@media(min-width:1200px) {
  body {

    /****** header css******/
    .desktop-header {
      .navbar-nav {
        li {
          a {
            padding: 15px 30px;
          }
        }
      }
    }




    /******* Login page scss ********/
    .login-block {

      .login-form {

        .form-wrap {
          width: 450px;
          form {
            input[type='email'], input[type='password'], input[type='text'] {
              width: 374px;

            }
            button[type='submit'] {
              width: 374px;
              margin: 40px auto 80px;
            }
            .input-group {
              margin: 0 auto;
              display: block;
            }

          }
        }

      }
    }

    /******* form action scss **********/

    .form-type-bar{
      height:73px;
    }

    /**** form T001 scss******/

    .sp-non-image-block{
      span{
        width: 11.7%;
      }
    }


    .general-picture-binders-form{
      ul{
        li{
          width: 11.7%;

        }
      }
    }


    /*******modal of t001 ******/
    #select-general-pictures{
      .general-picture-binders-modal{
        ul{
          li{
            width: 15.28%;
          }
        }
      }
      .file-upload,.file-delete{
        padding: 9px 30px;
      }
      .modal-footer{
        button{
          padding: 9px 30px;
        }
      }

    }

    //modals

    .pictorial-finder-detail, #upload-cover-photo-image-block{
      .file-upload,.file-delete{
        padding: 9px 30px;
      }
    }


    /***** t004 form*****/
    .left-bar{
      top:8%;
    }

    .section-view {
      .modal-body {
        .dynamic-form{
          max-height: 600px;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
      .submit-form{
        position: absolute;
        .pic-finding-block{
          //position: absolute;
        }
      }

    }


      /****** t007 form *****/
    .pictorial-finder-detail {
      .pictorial-finding-components{
        max-height:700px;
        overflow: auto;
      }
    }

    /***** dashboard scss ******/

    .dashboard-section-1{
      .left{
        padding-right: 8px;

      }
      .right  {
        padding-left: 9px;
        .location-title-row{
          >div{
            border: 1px solid #dfe2e5;
          }
        }
      }
    }

    .dashboard-section-2 {
      .right{
        padding-left: 10px;
      }
      .select-aircraft-model {
        text-align: right;
      }
      .start-date-filter {
        float: right;
      }
    }

    .dashboard-section-4 {
      .row-wrapper{
          display: flex;
        }
      .left{
          padding-left: 15px;
          padding-right: 5px;
      }
      .right{
        padding-left:8px;
      }

    }


    /****** asset listing******/
    .dashboard-index{
      .seconf-half{
        ul{
          li{
            //margin-bottom: 10px;
            .chosen-container{
              max-width: 160px !important;
            }
          }
        }

      }
    }

    .dashboard-asset-listing{
      .asset-detail-row{
        .name-image-wrapper{
          >div{
            padding-left: 18px;
          }
        }
        &:first-child{
          padding-left: 10px;
        }
      }
      .service-redered-row{
        padding-left: 150px;
      }
    }

    /*** request section css****/
    .requests-section {
      .reject-btn {
        min-width: 90px;
      }
      .padding20-xs {
        padding-left: 20px;
      }
      .project-list-grid {
        margin-bottom: 50px;
      }
      .sparta-listing-block {
        display: flex;
      }
      .request-list-block {
        .filters-containers {

          margin-bottom: 20px;
        }
      }
    }



    /***  user css  ***/
    .users-listing-section {
      .filters-container{
        margin: 22px 0;
      }
    }


    /***** project listing css******/
    .projects-index{
      .project-filters-row{
        margin-bottom: 20px;

      }
    }


    /****** project view ******/
    .work-orders-section, .tracker-feedback-detail {
      .project-aside {
        padding-left: 0;
      }
    }

    // modal

    .add-new-inspecter, .add-work-order-modal{
      .submit-form{
        .primary-btn{
          width: 78px;
        }
      }
    }

  /***contact block ***/
    .add-contact-button-block{
        .align-block{
          text-align: right;
        }
    }
  }
}

@media(min-width:1500px) {
  .tracker-section{
    .container-fluid{
      width: 1470px;
    }
  }
}

