body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* * {
    box-sizing: border-box;
} */

.second {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


.fontfamily{
  font-family: "Lobster" , serif;
  font-size: 25px;

}



.bg {
    /* The image used */
    background-image: url("http://eskipaper.com/images/aircraft-wallpaper-2.jpg");

    /* Full height */
    height: 678px;
    width:1286px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img {
  background-position: center;
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2014/11/02/10/41/aircraft-513641__340.jpg");

    min-height: 640px;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.headin{

}
#app{
  overflow: hidden;
}

/* Add styles to the form container */
.form-block {

    margin: 0 auto;
    max-width: 500px;
    padding: 100px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 110%;
    padding: 16px;
    margin: 5px 0 25px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */


.btn:hover {
    opacity: 1;
}
